#back {
    -fx-background-color: linear-gradient(#fc466b, #3f5efb);
    -fx-alignment: center;
}

#titleresults {
    -fx-text-fill: white;
    -fx-font-family: "Eras Medium ITC";
}

#try-again {
    -fx-font-size: 1.5em;
    -fx-font-family: "Eras Medium ITC";
    -fx-text-alignment: center;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

#try-again:hover {
    -fx-border-color: derive(white, -40%);
    -fx-text-fill: derive(white, -40%);
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-view:row-selection {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-text-fill: linear-gradient(#fc466b, #3f5efb);
    -fx-font-family: "Eras Medium ITC";
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}