.back {
    -fx-alignment: center;
    -fx-background-color: darkblue;
}

.label-normal {
    -fx-text-fill: cyan;
    -fx-font-family: "Eras Medium ITC";
}

.playbuttons {
    -fx-font-size: 6em;
}

.lower-buttons {
    -fx-font-size: 1.5em;
}

.playbuttons, .lower-buttons {
    -fx-font-family: "Eras Medium ITC";
    -fx-text-alignment: center;
    -fx-border-width: 2px;
    -fx-border-color: cyan;
    -fx-text-fill: cyan;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.playbuttons:hover, .lower-buttons:hover {
    -fx-border-color: derive(cyan, -40%);
    -fx-text-fill: derive(cyan, -40%);
}

.small-error-labels {
    -fx-text-fill: #F44336;
}

#er {
    -fx-text-fill: #F44336;
    -fx-font-size: 1.5em;
}